@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div>Sorry we couldn't find anything. Please visit our <a asp-controller="Home" asp-action="Index">Home</a> page.</div>
